
:root{
    --primarycolor:#0076de;
    --whiteColor:#fff;
    --blackColor:#333;
    --greyColor:#f6f8fa;
    --labelColor:#64b1f5;
    --yellowColor:#ffd723;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
} 
body{
    width: 100%;
    height: auto;
}

h1{
    line-height: 1.5;
}
.nav
{
    background-color: #ebb1a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 100;
    width: 100%;
    top: 0;
    position:fixed;
}

.nav-left
{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li{
    margin: 0 15px;
}

.nav a{
    color:black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
.nav b{
    background-color:black;
    color:white;
    text-decoration: none;
    font-weight: bold; 
}

.nav-right
{
    display: flex;
    align-items: center;
    position:relative;
    top:0px;
    font-size: 40px;
    color: #0076de;
}
.nav button
{
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 90px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
}
header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-title{
    position:absolute;
    margin: 30px;
    top: 7rem;
    left: 12rem;
    letter-spacing: 4;
    padding-left: 15%;
    font-weight: bolder;
    font-size: 52px;
    color: var(--blackColor);
    text-shadow: 4px 2px 0px rgba(0,0,0,0.2);
}

.header-title > span{
    justify-content: center;
    color: var(--primarycolor);
}
#home
{
    display: flex;
    flex-direction: column;
  
    height :200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content:"";
    position:absolute;
    height:85%;
    padding-top:60px;
    left:0px;
    width: 100%;
    z-index: -1;
    font-size: 2rem;
    border-radius:10px;
    cursor:pointer;
}
.search-container {
  display: flex;
  margin:50px;
  width: 32cm;
}
#search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
}
#search-button {
  padding: 15px 30px;
  background-color: #ebb1a3;
  color: hsl(0, 0%, 0%);
  border: 3px solid #ebb1a3;
  border-radius:0%;
  font-size: 20px;
  cursor: pointer;
}
#search-button:hover {
  background-color: #ebb1a3;
}

.join{
    width: 100%;
    height: 350px;
    background-image: url("join.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--whiteColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
}
.join-detail{
    min-width: 280px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}
.join-detail > h1 {
    font-size: 36px;
    letter-spacing: 2;
}
.join-button{
    width: 150px;
    padding: 1rem;
    border: none;
    color: var(--blackColor);
    background-color: #ebb1a3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 32px;
    font-size: 25px;
}
.join-button:hover{
    background: transparent;
    border: 2px solid var(--yellowColor);
    color: #ebb1a3;
}
.featured{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--greyColor);
}
.section-title{
   
    margin-bottom: 0.5rem;
    letter-spacing:1.5;
    font-size: 36px;
}
.section-little{
   
    margin-bottom: 0.5rem;
    letter-spacing:1.5;
    font-size: 14px;
}

.featured-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 2% 10%;

}
.featured-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.featured-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 2px;

}
.featured-image{
    height: 30px;
    margin-bottom: 0.2rem;
}
.featured-button{
    border: 1px solid var(--primarycolor);
    background-color: transparent;
    margin-top: 0.5rem;
    padding: 3px 10px;
    cursor: pointer;
    color: var(--primaryColor);
}
.featured-button:hover{
    background-color: var(--primaryColor);
    color: #ffffff;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.footer-links ul li {
    display: inline;
    margin-right: 18px;
}

.footer-links ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.footer-info p {
    margin-top: 10px;
    font-size: 14px;
}
